name: Continuous Delivery

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    name: Build and push
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
